
<section class="section">
    <div class="container">
      <h2 class="title is-2">Welcome to Your Dashboard, {{ username }}!</h2>
  
      <div class="columns mt-4">
        <div class="column is-half">
          <div class="card">
            <div class="card-content">
              <p class="title is-4">Profile Information</p>
              <p class="subtitle is-6">Display user-related information here.</p>
              <a  class="button is-primary">Edit Profile</a>
            </div>
          </div>
        </div>
  
        <div class="column is-half">
          <div class="card">
            <div class="card-content">
              <p class="title is-4">Your Activities</p>
              <p class="subtitle is-6">Show user activities, recent actions, or any relevant information.</p>
              <a  class="button is-primary">View History</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  